
.geral{
    background:  #bad9db;
    padding:20px;
    width: 1200px;
    height: auto;
    
    font-family: sans-serif;
}

.teste {
    background:  #e6f4f4;
    border-radius: 35px;
    filter: drop-shadow(5px 5px 5px #a2cfd4);
}

.menu-content {
    position: relative;
    display: flex;
    
}
