<div class="app-geral">
    <div class="geral-header">
        <div class="geral-nome">
            <br>
            <h1> Olá, <b>nomeProprietario!</b></h1>
            <h3>Aqui está o seu relatório...</h3>
        </div>
        <input type="month" class="date-picker">
    </div>
    <div class="geral-conteudo">
        <div class="geral-balancete">
            <table>
                <caption>
                    <p><b>Balancete</b></p>
                </caption>
                <tbody class="tr-text">
                    <tr>
                        <td>
                            <p class="balancete-text border-botton"><b>TOTAL</b></p>
                        </td>
                        <td>
                            <p class="balancete-text border-botton"><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-4"><b>Ativo Circulante</b><br></p>
                        </td>
                        <td>
                            <p class="balancete-text"><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Disponível<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Aplicações Financeiras<br></p>
                        </td>
                        <td>
                            <p class="balancete-text"><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Contas a Receber<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Estoque<br></p>
                        </td>
                        <td>
                            <p class="balancete-text"><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Tributos a Recuperar<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Outros Ativos Circulante<br></p>
                        </td>
                        <td>
                            <p class="balancete-text"><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-4"><b>Ativo Não Circulante</b><br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Realizável a Longo Prazo<br></p>
                        </td>
                        <td>
                            <p class="balancete-text"><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Investimetnos<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Imobilizado<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Intangível<br></p>
                        </td>
                        <td>
                            <p class="balancete-text"><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text border-botton"><b>PASSIVO</b><br></p>
                        </td>
                        <td>
                            <p class="balancete-text border-botton"><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-4"><b>Passivo Circulante</b><br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Obrigações Sociais Trabalhistas<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Fornecedores<br></p>
                        </td>
                        <td>
                            <p class="balancete-text"><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Obrigações Fiscais<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Empréstimos e Financiamentos<br></p>
                        </td>
                        <td>
                            <p class="balancete-text"><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Dividendos Declarados<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Outros Passivos Operacionais<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-4"><b>Passivo Não Circulante</b><br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Empréstimos e Financiamentos<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Obrigações Tributarias<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Arrendamento Mercantil<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Provisões Fiscais Prev. Trabalhistas<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text border-botton"><b>PATRIMÔNIO LÍQUIDO</b><br></p>
                        </td>
                        <td>
                            <p class="balancete-text border-botton"><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Capital Social Realizado<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Reservas De Capital<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Reservas De Lucros<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="balancete-text ml-8">Lucros Ou PrejuÍzos Acumulados<br></p>
                        </td>
                        <td>
                            <p class="balancete-text "><b>3,000</b></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="geral-dre-indicadores">
            <div class="geral-dre">
                <table>
                    <caption>
                        <p><b>DRE</b></p>
                    </caption>
                    <tbody class="tr-text">

                        <tr>
                            <p class="dre-text ml-4"><b>Receita Liquida</b></p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-8">(-)Custo Total</p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-4"><b>Lucro Bruto</b></p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-8">(-)Despesas Operacionais</p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-8">Despesas com Vendas</p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-8">Despesas Gerais e Administrativas</p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-8">Perda em Liquidação Duvidosa</p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-8">Equivalência Patrimonial</p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-8">Outras Receitas e Despesas Operacionais</p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-4"><b>EBITDA</b></p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-8">(-)Depreciação e Amortização</p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-4"><b>EBIT</b></p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-8">Resultado Financeiro</p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-4"><b>Lucro Operacional</b></p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-8">Outras Receitas e Despesas</p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <p class="dre-text ml-4"><b>Result. Antes dos Tributos Sobre o Lucro</b></p>
                            <td>
                                <p class="dre-text">3,000</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="geral-indicadores">

                <table>
                    <caption>
                        <p><b>Indicadores</b></p>
                    </caption>
                    <tbody>
                        <tr>
                            <td><p class="indicadores-text ml-4"><b>Receita Líquida</b></p> </td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>

                        <tr>
                            <td><p class="indicadores-text ml-4"><b>Liquidez Imediata</b></p></td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="indicadores-text ml-4"><b>Liquidez Corrente</b></p></td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        
                        <tr>
                            <td><p class="indicadores-text ml-4"><b>Liquidez Geral</b></p></td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="indicadores-text ml-4"><b>Liquidez Seca</b>
                            </td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="indicadores-text ml-4"><b>GDE</b></p></td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="indicadores-text ml-4"><b>Endividamento Geral</b></p></td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="indicadores-text ml-4"><b>Composição Da Dívida</b></p></td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="indicadores-text ml-4"><b>Grau De Imobilização</b></p></td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="indicadores-text ml-4"><b>Grau De Imob Da Receita Nao Corrente</b></p></td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="indicadores-text ml-4"><b>Margem Bruta</b></p></td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="indicadores-text ml-4"><b>Margem Operacional</b></p></td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="indicadores-text ml-4"><b>Margem Líquida</b></p></td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="indicadores-text ml-4"><b>ROI</b></p></td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="indicadores-text ml-4"><b>ROE</b></p></td>
                            <td>
                                <p class="indicadores-text">3,000</p>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="geral-relatorio">
            <p><b>Relatório</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt, purus molestie facilisis
                sagittis, metus nisl volutpat neque, quis feugiat justo velit non eros. Class aptent taciti sociosqu ad
                litora torquent per conubia nostra, per inceptos himenaeos. Fusce finibus sapien vulputate, eleifend
                turpis suscipit, ultricies odio. Vestibulum blandit auctor magna ut ullamcorper. Mauris ultricies nunc
                nulla, sit amet condimentum ante hendrerit quis. Nulla iaculis massa et turpis rutrum euismod.
                Vestibulum vestibulum augue urna, posuere condimentum quam sagittis vel. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas. Fusce accumsan justo id libero
                lobortis aliquet. Maecenas purus nisi, commodo non accumsan ac, semper vulputate erat. Fusce nec urna
                urna. Quisque interdum tortor vel pulvinar porta. Donec commodo, dolor in volutpat commodo, lacus tellus
                tristique nunc, non tempor elit arcu non turpis. Proin egestas sem sollicitudin leo tincidunt, non
                placerat orci ornare.

                Nam nec augue turpis. Etiam vestibulum finibus odio id elementum. Pellentesque sit amet elit at turpis
                vestibulum placerat. Mauris eget ante at libero posuere euismod. Sed lectus nibh, bibendum quis commodo
                eget, dignissim at purus. Donec pellentesque malesuada tellus, ut auctor leo iaculis eget. Nulla quis
                gravida ligula. Quisque et leo dignissim, feugiat massa dignissim, rhoncus nisi. Integer ultrices tempor
                eros in sodales. Cras sit amet elit sem.

                Aenean justo diam, mattis in tincidunt ut, sollicitudin a odio. Sed sagittis dignissim molestie. arcu.
                Pellentesque aliquet consectetur leo, vitae volutpat nibh.
            </p>
        </div>
    </div>
</div>