<div class="teste">
    <div class="menu-hover">
        <img src="assets/img/bars-solid.svg" alt="ttt">
    </div>
    <div class="menu-content">
        <a routerLink="/">
            <img src="assets/img/house-solid.svg" alt="ttt">
        </a>
        <a routerLink="/info-empresa">
            <img src="assets/img/envelope-solid.svg" alt="ttt">
        </a>
        <a routerLink="/info-empresa">
            <img src="assets/img/user-solid.svg" alt="ttt">
        </a>
        <a routerLink="/info-empresa">
            <img src="assets/img/chart-pie-solid.svg" alt="ttt">
        </a>
        <a routerLink="/info-empresa">
            <img src="assets/img/triangle-exclamation-solid.svg" alt="ttt">
        </a>
    </div>
</div>